:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black:#282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self:center 
}

.header-content-tilte{
    width: 90%;
    min-width: 288px;
    max-width: 900px;   
    height: 218px;
    margin-top:50px;
    align-self: center;
}

.header-content-tilte h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-content-tilte p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);    
}


.header-content-tilte .header-botton{
    position: absolute;
    top: 270px;
    left: calc(50% - 125px);
    display: block;
    margin-top:35px ;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--black );
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.897);
    border: none;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--off-white);
}

.header-botton span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg);
}

main{
    width: 100%;
    height: auto;
    background-color: var(--warm-black);
}

.main_exchange{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main_exchage_tilte{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main_exchange .backgraundimg{
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
}

.main_exchange h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color:var(--off-white);
}

.main_exchange p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color:#948a8abe;
    margin: 40px;
}

.main-tables-container{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.table--container{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: center;
    
    
}

.currensy-table--conteiner{
    width: 70%;
    min-width: 200px;
    max-height: 200px;
    height: 230px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.currensy-table--conteiner table{
    width: 100%;
    height: 100%;
}

.currensy-table--conteiner td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height:1.9rem ;
    color: var(--grey);
}

.currensy-table--conteiner .table__top_left{
    border-radius: 15px 0 0;
}

.currensy-table--conteiner .table__top-right{
    border-radius: 0 15px 0 0;
}

.currensy-table--conteiner .table_bottom-left{
    border-radius:  0 0 0 15px;
}

.currensy-table--conteiner .table_bottom-right{
    border-radius:  0 0 15px 0  ;
}

.currensy-table--conteiner .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height:  1.7 rem;
    color: #757575;
    
}

.currensy-table--conteiner .down{
    display: inline-block;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    
}

.currensy-table--conteiner .up{
    display: inline-block;
    margin-left:9px ;
    width:15px ;
    height: 15px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.Up_date_fech{
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding:  8px;
    background-color: var(--warm-black);
    border-radius: 8px;
    
}

.Up_date_fech p{
    font-size: 1.3rem;
    line-height: 1.1rem;
    color: var(--grey);
}

/* Servicios y ventajas :) */

.main_product_detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 20px 10px;
    height: auto;
    background-color:rgba(14, 160, 160, 0.2)
}

.batata_logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top:-10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
    background-size: cover;
 
}
    
.product-detail-tilte{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.product-detail-tilte h1{
    margin-bottom:20px ;
    font-size: 2.4rem;
    font-weight: bold;
    min-height:  2.6rem;
    color: var(--just-white);

}

.product-detail-tilte p{
    margin:  20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--off-white);
}

.product-detail--card{
    width: 90%;
    min-width: 200px;
    max-width: 400px;
    height: 150px;
    margin:  15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.826);
}

.product-detail--card .icon-card{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.dolar {
    background-image: url(./assets/icons/dollar-sign.svg);
}
.clock {
    background-image: url(./assets/icons/clock.svg);
}

.eye{
    background-image: url(./assets/icons/eye.svg);
}

.circle{
    background-image: url(./assets/icons/check-circle.svg);
}
.product-card--tilte{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bitcoin-img-container h2{
    padding: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color:var(--just-white);
}